################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/20.1.2025/c# lecture 3/.vs/c# lecture 3/CopilotIndices/17.12.53.23981
/20.1.2025/c# lecture 3/.vs/c# lecture 3/FileContentIndex
/20.1.2025/c# lecture 3/c# lecture 3/obj/Debug
